{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Suivant{% endblock %}

{% block main %}


    <a class="btn btn-lg btn-primary" href="{{ path('app_inter') }}" >
            SUIVANT
        {% for Application in role %}
            {{ Application }}<br>
        {% endfor %}
        </a>


{% endblock %}
