{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | CREER SERIE{% endblock %}

{% block main %}
    {% if (is_granted('ROLE_ADMIN')) %}
    <h1>CREER SERIE</h1>
    {{ form_start(serieForm) }}
    <button id="buttonForm" type="submit" class="btn" >creer la serie</button>
    {{ form_end(serieForm) }}
    <a class="btn btn-outline-primary" href="{{ path('admin') }}">Retour home-Admin</a>
    {% endif %}
{% endblock %}
